.container {
  max-width: 960px;
}

input:focus:invalid {
  border: 2px solid red;
}

input:focus:valid {
  border: 2px solid green;
}

.text-danger {
  color: red;
}
.d-none {
  display: none;
}