.container {
  max-width: 960px;
}

input:focus:invalid {
  border: 2px solid red;
  color: red;
}

input:focus:valid {
  border: 2px solid green;
}

.text-danger {
  color: red;
}
.d-none {
  display: none;
}

.textito{
  color: red;
  font-weight: 400;
  text-decoration: underline;
}

.textitovalido{
  color: green;
  font-weight: 400;
  text-decoration: underline;
}
